<div class="layout">
  <div class="layout__page">
    <div class="login__container">
      <img
        ngSrc="images/logo.svg"
        alt="Cryptik logo"
        width="117"
        height="29"
        class="layout__logo--image" />
      <h1 class="login__heading">Вход</h1>
      <div class="login__form">
        <app-input
          class="login__form--control"
          placeholder="Email"
          iconUrl="/icons/user.svg"
          (controlValue)="onInputChange($event)" />

        <app-password-input
          class="login__form--control"
          placeholder="Пароль"
          iconUrl="icons/lock.svg" />

        <app-button>
          <span>Войти</span>
        </app-button>
      </div>
    </div>
  </div>
</div>
